<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Games</title>
</head>
<body>
<div>
    <h3>List Games</h3>
    <hr/>
    <table>
        <thead>
        <tr>
            <th>Game ID</th>
            <th>Title</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="games : ${games}">
            <td th:text="${games.id}"/>
            <td th:text="${games.title}"/>
            <td th:text="${games.genre}"/>
            <td><a th:href="@{'/deleteEntry/' + ${games.id}}"/>Delete</td>
            <td><a th:href="@{'/updateEntry/' + ${games.id}}"/>Update</td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/main}">Add new game</a>

</body>
</html>