<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Games</title>
</head>
<body>
<div>
    <h3>List Games</h3>
    <hr/>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="games : ${games}">
            <td th:text="${games.title}"/>
            <td th:text="${games.genre}"/>
            <td>
                <form>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <form>
                    <button type="submit" class="btn btn-danger">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/main}">Add new game</a>

</body>
</html>