<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Database Practice</title>
</head>
<body>
    <h1>This is a game database!</h1>
    <form action="#" th:action="@{/gameSubmission}" method="post" th:object="${game}">
        <label for="title">Title</label>
        <input type="text" id="title" th:field="*{game.title}">
        <label for="genre">Genre</label>
        <input type="text" id="genre" th:field="*{game.genre}">
        <button type="submit">Submit</button>
    </form>

</body>
</html>